flows/wio-config-flows.json
[{"id":"89cca508.cc9578","type":"inject","z":"2045355d.65cdfa","name":"email+password","topic":"","payload":"email=tkintop@gmail.com&password=HpTnigxEAy6d","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":76,"wires":[["47898ccf.259b04"]]},{"id":"eaeb5700.34d328","type":"debug","z":"2045355d.65cdfa","name":"User Msg","active":true,"console":"false","complete":"true","x":877.9971313476562,"y":75.88922119140625,"wires":[]},{"id":"47898ccf.259b04","type":"function","z":"2045355d.65cdfa","name":"User Login","func":"msg.url=\"https://wio.seeed.io/login?\"+msg.payload;\nmsg.payload=\" \";\nmsg.method=\"POST\";\nreturn msg;","outputs":1,"noerr":0,"x":301.85511779785156,"y":76.67617797851562,"wires":[["7290dde7.ee7554"]]},{"id":"7290dde7.ee7554","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"txt","url":"","tls":"","x":506.9971618652344,"y":75.88922119140625,"wires":[["5967933c.5ad10c"]]},{"id":"175959e0.117f96","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.89768981933594,"y":180.00003051757812,"wires":[["54f3f922.9398b8"]]},{"id":"54f3f922.9398b8","type":"function","z":"2045355d.65cdfa","name":"Node List","func":"msg.url=\"https://us.wio.seeed.io/v1/nodes/list\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"user_token\")};\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":291.7528076171875,"y":177.67620849609375,"wires":[["c40b4ad9.96ef78"]]},{"id":"c40b4ad9.96ef78","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","x":519.894775390625,"y":168.88925170898438,"wires":[["ea382988.181ef8"]]},{"id":"685d3ded.514e74","type":"debug","z":"2045355d.65cdfa","name":"Config Msg","active":true,"console":"false","complete":"true","x":784.9941864013672,"y":399.7784423828125,"wires":[]},{"id":"d0391656.dd55d8","type":"function","z":"2045355d.65cdfa","name":"User Boards List","func":"msg.url=\"https://us.wio.seeed.io/v1/boards/list\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"user_token\")};\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":308.85223388671875,"y":278.56536865234375,"wires":[["95ff78e3.37c1c8"]]},{"id":"95ff78e3.37c1c8","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","tls":"","x":519.9942016601562,"y":278.7784118652344,"wires":[["685d3ded.514e74"]]},{"id":"5479cb19.0e01c4","type":"function","z":"2045355d.65cdfa","name":"User Scan Drivers","func":"msg.url=\"https://us.wio.seeed.io/v1/scan/drivers\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"user_token\")};\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":308.8522186279297,"y":326.56536865234375,"wires":[["ab913762.1a8158"]]},{"id":"ab913762.1a8158","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","x":519.9941864013672,"y":325.7784118652344,"wires":[["685d3ded.514e74"]]},{"id":"e041b515.af3278","type":"function","z":"2045355d.65cdfa","name":"User Scan Status","func":"msg.url=\"https://us.wio.seeed.io/v1/scan/status\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"user_token\")};\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":311.8522186279297,"y":387.5653991699219,"wires":[["bcf4d2f9.114eb"]]},{"id":"bcf4d2f9.114eb","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","x":517.9941864013672,"y":384.7784423828125,"wires":[["685d3ded.514e74"]]},{"id":"1f0dee88.b77b31","type":"function","z":"2045355d.65cdfa","name":"Node Config","func":"msg.url=\"https://us.wio.seeed.io/v1/node/config\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"node_token\")};\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":287.8522644042969,"y":435.5653381347656,"wires":[["7722dc5a.1ebcd4"]]},{"id":"7722dc5a.1ebcd4","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","x":517.9942626953125,"y":435.7784423828125,"wires":[["685d3ded.514e74"]]},{"id":"9b42c58e.b93ac8","type":"function","z":"2045355d.65cdfa","name":"Node .well-known","func":"msg.url=\"https://us.wio.seeed.io/v1/node/.well-known\"; \nmsg.method=\"GET\";\nmsg.headers = {\"Authorization\": global.get(\"node_token\")};\nreturn msg;","outputs":1,"noerr":0,"x":305.7528076171875,"y":489.56536865234375,"wires":[["54cba19a.797af"]]},{"id":"54cba19a.797af","type":"http request","z":"2045355d.65cdfa","name":"HTTP Request","method":"use","ret":"obj","url":"","x":511.8948059082031,"y":490.7784423828125,"wires":[["685d3ded.514e74"]]},{"id":"5967933c.5ad10c","type":"function","z":"2045355d.65cdfa","name":"Store user_token","func":"var str = msg.payload;\nvar re = /token: \\w+/i;\nvar str = str.match(re);\nstr = str[0];\nstr = str.split(': ');\nmsg.payload = str[1];\nglobal.set(\"user_token\",msg.payload)\nreturn msg; ","outputs":1,"noerr":0,"x":704.849365234375,"y":75.5823974609375,"wires":[["eaeb5700.34d328"]]},{"id":"ea382988.181ef8","type":"function","z":"2045355d.65cdfa","name":"Store node_token","func":"global.set(\"node_token\",\"token \"+msg.payload.nodes[1].node_key);\nreturn msg;","outputs":1,"noerr":0,"x":707.9971313476562,"y":177.88922119140625,"wires":[["14683a9e.a9b615"]]},{"id":"66271daa.6fa7f4","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.99714660644531,"y":277.7073974609375,"wires":[["d0391656.dd55d8"]]},{"id":"e61eeec7.6e415","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.99713134765625,"y":326.7073669433594,"wires":[["5479cb19.0e01c4"]]},{"id":"e8e54b12.73a318","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":114.99713134765625,"y":389.7073669433594,"wires":[["e041b515.af3278"]]},{"id":"362b2ba8.5711d4","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.99716186523438,"y":436.7073669433594,"wires":[["1f0dee88.b77b31"]]},{"id":"46d42a07.e7ae94","type":"inject","z":"2045355d.65cdfa","name":"Fire","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.99716186523438,"y":490.7073669433594,"wires":[["9b42c58e.b93ac8"]]},{"id":"14683a9e.a9b615","type":"debug","z":"2045355d.65cdfa","name":"Node Msg","active":true,"console":"false","complete":"true","x":886.894775390625,"y":176.88925170898438,"wires":[]}]
