flows/wio-sound-flow.json
[
    {
        "id": "55a76b1d.0ef6d4",
        "type": "tab",
        "label": "Flow 6"
    },
    {
        "id": "3ab75776.259bc8",
        "type": "function",
        "z": "55a76b1d.0ef6d4",
        "name": "Sound Level Ledbar",
        "func": "if (msg.payload > 300){\n    msg.payload = 300;\n}\nvar count = Math.round(msg.payload/10);\nvar color = '00FF00';\nfor (i = 1; i < count; i++) {\n    if (i < 16){\n        color = color + ','+ '00FF00';\n    } else if (i > 15 && i < 25) {\n        color = color + ',' + 'FF9B00';\n    } else {\n        color = color + ',' + 'FF0000';\n    }\n}\nmsg.payload = {\"count\": count, \"pos\": 0, \"colors\": color};\nreturn msg;\n\nif (msg.payload > 300){\n    msg.payload = 300;\n}\nvar count = Math.round(msg.payload/10);\nvar color = '00FF00';\nfor (i = 1; i < count; i++) {\n    if (i < 16){\n        color = color + ','+ '00FF00';\n    } else if (i > 15 && i < 25) {\n        color = color + ',' + 'FF9B00';\n    } else {\n        color = color + ',' + 'FF0000';\n    }\n}\nmsg.payload = {\"count\": count, \"pos\": 0, \"colors\": color};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 572,
        "y": 322,
        "wires": [
            [
                "e7a587d5.b3e4e8",
                "bb8fe1ee.3280a"
            ]
        ]
    },
    {
        "id": "55ee3313.eb2c8c",
        "type": "inject",
        "z": "55a76b1d.0ef6d4",
        "name": "Every Second",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "x": 156,
        "y": 216,
        "wires": [
            [
                "ef68a7e9.5e6d48"
            ]
        ]
    },
    {
        "id": "ef68a7e9.5e6d48",
        "type": "wio-sensor",
        "z": "55a76b1d.0ef6d4",
        "name": "Sound Sensor",
        "connection": "45241630.2b6838",
        "node": "992d396200907674a2aa2b73f21f8b81",
        "port": "GroveSound:A0",
        "method": "sound_level:sound_level",
        "output": "value",
        "x": 368,
        "y": 264,
        "wires": [
            [
                "3ab75776.259bc8"
            ]
        ]
    },
    {
        "id": "bb8fe1ee.3280a",
        "type": "wio-ws2812",
        "z": "55a76b1d.0ef6d4",
        "name": "LED Strip",
        "connection": "45241630.2b6838",
        "node": "992d396200907674a2aa2b73f21f8b81",
        "port": "GroveLedWs2812:D1",
        "mode": "segment",
        "pos": 0,
        "count": 30,
        "brightness": 10,
        "speed": 10,
        "colors": "FF0000,EE1100,DD2200,CC3300,BB4400,AA5500,996600,887700,778800,669900,55AA00,44BB00,32CC00,21DD00,10EE00,00FF00,00EC12,00DA24,00C836,00B648,00A35B,00916D,007F7F,006D91,005BA3,0048B6,0036C8,0024DA,0012EC,0000FF",
        "x": 772,
        "y": 229,
        "wires": [
            []
        ]
    },
    {
        "id": "e7a587d5.b3e4e8",
        "type": "debug",
        "z": "55a76b1d.0ef6d4",
        "name": "Sound Level Msg",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 794,
        "y": 385,
        "wires": []
    },
    {
        "id": "45241630.2b6838",
        "type": "wio-config",
        "z": ""
    }
]
