flows/wio-sound-ledbar-ledstrip-flow.json
[{"id":"48920585.1cb16c","type":"tab","label":"Wio Soundbar"},{"id":"c6bd798e.3092e8","type":"inject","z":"48920585.1cb16c","name":"Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":107,"y":140,"wires":[["77cc1a00.11cc88"]]},{"id":"77cc1a00.11cc88","type":"wio-sensor","z":"48920585.1cb16c","name":"Sound Sensor","connection":"837fc3af.06058","node":"992d396200907674a2aa2b73f21f8b81","port":"GroveSound:A0","method":"sound_level:sound_level","output":"value","x":141,"y":299,"wires":[["7617b970.8aca68","f16bf706.503098","7fcd56af.cf55a8"]]},{"id":"36bd1b0e.dbd704","type":"wio-ws2812","z":"48920585.1cb16c","name":"LED Strip","connection":"837fc3af.06058","node":"992d396200907674a2aa2b73f21f8b81","port":"GroveLedWs2812:D1","mode":"segment","pos":0,"count":30,"brightness":10,"speed":10,"colors":"FF0000,EE1100,DD2200,CC3300,BB4400,AA5500,996600,887700,778800,669900,55AA00,44BB00,32CC00,21DD00,10EE00,00FF00,00EC12,00DA24,00C836,00B648,00A35B,00916D,007F7F,006D91,005BA3,0048B6,0036C8,0024DA,0012EC,0000FF","x":618,"y":178,"wires":[[]]},{"id":"7617b970.8aca68","type":"function","z":"48920585.1cb16c","name":"Sound Level LED Strip","func":"if (msg.payload > 300){\n    msg.payload = 300;\n}\nvar count = Math.round(msg.payload/10);\nvar color = '00FF00';\nfor (i = 1; i < count; i++) {\n    if (i < 16){\n        color = color + ','+ '00FF00';\n    } else if (i > 15 && i < 25) {\n        color = color + ',' + 'FF9B00';\n    } else {\n        color = color + ',' + 'FF0000';\n    }\n}\nmsg.payload = {\"count\": count, \"pos\": 0, \"colors\": color};\nreturn msg;\n\nif (msg.payload > 300){\n    msg.payload = 300;\n}\nvar count = Math.round(msg.payload/10);\nvar color = '00FF00';\nfor (i = 1; i < count; i++) {\n    if (i < 16){\n        color = color + ','+ '00FF00';\n    } else if (i > 15 && i < 25) {\n        color = color + ',' + 'FF9B00';\n    } else {\n        color = color + ',' + 'FF0000';\n    }\n}\nmsg.payload = {\"count\": count, \"pos\": 0, \"colors\": color};\nreturn msg;\n","outputs":1,"noerr":0,"x":363,"y":188,"wires":[["36bd1b0e.dbd704","688ebc26.606604"]]},{"id":"688ebc26.606604","type":"debug","z":"48920585.1cb16c","name":"Sound Level LED Strip Output","active":true,"console":"false","complete":"payload","x":688,"y":273,"wires":[]},{"id":"f16bf706.503098","type":"function","z":"48920585.1cb16c","name":"Sound Level Ledbar","func":"if (msg.payload > 0) {\n    var level = ((msg.payload >50) ? Math.round(msg.payload/50) : 0.5);\n    var rm = msg.payload%100;\n    if (rm > 49) {\n        level = level + .5;\n    }\n} else {\n    level = 0;\n}\nmsg.payload = level\nreturn msg;\n","outputs":1,"noerr":0,"x":353,"y":385,"wires":[["bb1b515b.ef998","ebc984bc.326e08"]]},{"id":"bb1b515b.ef998","type":"debug","z":"48920585.1cb16c","name":"Sound Level LED Bar Output","active":false,"console":"false","complete":"payload","x":664,"y":459,"wires":[]},{"id":"ebc984bc.326e08","type":"wio-ledbar","z":"48920585.1cb16c","name":"LED Bar","connection":"837fc3af.06058","node":"3943de2d9ad0c7747a6c1bab4cf259d1","port":"GroveLEDBar:UART0","mode":"displaylevel","led":1,"brightness":1,"level":"0","orient":0,"bitconfig":0,"x":613,"y":376,"wires":[[]]},{"id":"7fcd56af.cf55a8","type":"debug","z":"48920585.1cb16c","name":"Sensor Reading","active":false,"console":"false","complete":"payload","x":315,"y":455,"wires":[]},{"id":"837fc3af.06058","type":"wio-config","z":"48920585.1cb16c"}]
